@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
  background: rgb(15, 23, 42);
  background: -moz-linear-gradient(
    180deg,
    rgba(15, 23, 42, 1) 0%,
    rgba(0, 33, 64, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(15, 23, 42, 1) 0%,
    rgba(0, 33, 64, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(15, 23, 42, 1) 0%,
    rgba(0, 33, 64, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f172a",endColorstr="#002140",GradientType=1);
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

.scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  font-size: 30px; /* 이모지 크기 조절 */
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
